<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Shogan OnBoarding App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cover.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/onboarding.css">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Shogan OnBoarding App</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link" href="/web/signup">Sign Up</a>
                    <a class="nav-link" href="/web/login">Log In</a>
                </nav>
            </div>
        </header>

        <div id="msg" class="alert alert-primary" role="alert"></div>

        <main role="main" class="inner cover">
