<%- include('./partials/header') %>
<h1 class="cover-heading">Shogan OnBoarding App</h1>
<p class="lead">Create an account, login, update account - reset password</p>
<%- include('./partials/footer') %>